:root{
--violeta:#7b2cbf;
--violeta-claro:#9d4edd;
--azul-bebe:#cde7ff;
--azul-claro:#e8f4ff;
--branco:#fff;
--cinza:#f1f1f1;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f7f7ff;
color:#333;
line-height:1.6;
}

header{
background:var(--violeta);
position:sticky;
top:0;
z-index:1000;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
}

.logo{
font-size:1.4rem;
font-weight:bold;
color:white;
}

.menu a{
color:white;
text-decoration:none;
margin-left:15px;
transition:.3s;
}

.menu a:hover{
color:var(--azul-bebe);
}

.banner{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(
135deg,
var(--violeta),
var(--violeta-claro)
);
color:white;
padding:20px;
}

.banner h1{
font-size:3rem;
margin-bottom:20px;
}

.banner p{
max-width:600px;
margin-bottom:25px;
}

.btn{
background:white;
color:var(--violeta);
padding:12px 25px;
border-radius:30px;
text-decoration:none;
font-weight:bold;
}

.conteudo{
padding:60px 10%;
}

.conteudo h2{
margin-bottom:20px;
color:var(--violeta);
}

.cards{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
}

.card{
width:250px;
height:170px;
position:relative;
transform-style:preserve-3d;
transition:1s;
cursor:pointer;
}

.card.virado{
transform:rotateY(180deg);
}

.frente,
.verso{
position:absolute;
width:100%;
height:100%;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:15px;
border-radius:15px;
backface-visibility:hidden;
box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.frente{
background:var(--azul-bebe);
}

.verso{
background:var(--violeta);
color:white;
transform:rotateY(180deg);
}

.quiz-box{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
max-width:500px;
}

.quiz-box button{
display:block;
width:100%;
margin-top:10px;
padding:12px;
border:none;
background:var(--violeta);
color:white;
border-radius:8px;
cursor:pointer;
}

.quiz-box button:hover{
background:var(--violeta-claro);
}

#resultado{
margin-top:15px;
}
 /* GALERIA */

.galeria{
    padding:80px 20px;
    text-align:center;
}

.galeria h2{
    color:var(--violeta);
    margin-bottom:40px;
}

.galeria-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:30px;
    max-width:1200px;
    margin:auto;
}

.imagem-card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    transition:.3s;
}

.imagem-card:hover{
    transform:translateY(-8px);
}

.imagem-card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.imagem-texto{
    padding:25px;
}

.imagem-texto h3{
    color:var(--violeta);
    margin-bottom:15px;
}